cmake
wheel
numpy==1.23.0
hydra-core==1.3.2
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
# pyhash
pytorch-lightning==1.8.6
lightning_lite
# torch==1.13.1
# torchvision
# MulticoreTSNE
gitpython
scipy==1.10.1
sentence-transformers
setuptools==57.5.0
gym
moviepy
tqdm
termcolor
wandb
networkx==3.6.1
